@import "../../../styles/variable.less";
@import "../../../styles/mixins.less";

.blueCircle {
  .mixin-circle(@colorBlue);
  .mixin-set-width-height(300px, 300px);
  overflow: hidden;

  img {
    border-radius: 400px;
  }
}
